<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Credit Calc</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    </head>
    <body>

        <div class="header">
            <h1 class="title">
                <a href="{{ url_for('main') }}">CreditCalc</a>
            </h1>
            {#<div class="button" id="auth-but">
                {% if name %}
                    <a href="{{ url_for('logout') }}">Выйти для {{ name }}</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Авторизоваться</a>
                {% endif %}
            </div>#}
        </div>

        <div class="menu">
            <div class="menu-block" id="message">
                {% if name %}
                    <h1>Здравствуйте, {{ name }}</h1>
                {% else %}
                    <h1>Здравствуйте!</h1>
                {% endif %}
                <p>Мы поможем вам расчитать кредит и подобрать подходящие вам банки</p>
            </div>

            <a href="{{ url_for('calculator') }}">
                <div class="menu-block" id="menu-block-1">
                    <h2>Рассчитать</h2>
                </div>
            </a>


            {#{% if name %}
                <div class="menu-block" id="menu-block-2">
                    <a href="{{ url_for('history') }}">
                        <h2>Посмотреть историю</h2>
                    </a>
                </div>
            {% else %}
                <div class="menu-block" id="menu-block-2">
                    <h2>Авторизируйтесь чтобы посмотреть историю</h2>
                </div>
            {% endif %}#}
        </div>

    </body>
</html>