.header {
    height: fit-content;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
    display: grid;
    grid-template-columns: auto 20%;
}
.title {
    margin: auto auto auto 0;
    color: blueviolet;
}
.button {
    margin: auto 0 auto auto;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border-style: none;
    color: bisque;
    background-color: blueviolet;
}
.message {
    margin: 10px auto auto auto;
    max-width: 1000px;
    text-align: center;
    border-radius: 10px;
    color: bisque;
    background-color: coral;
}
.menu {
    margin: 10px auto auto auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.menu-block {
    margin: 0 5px auto 5px;
    text-align: center;
    height: fit-content;
    border-radius: 10px;
    color: blueviolet;
    background-color: bisque;
}
.login-form {
    padding: 10px;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 1px 10px bisque;
}
input {
    margin: 5px;
    border-color: blueviolet;
    border-radius: 5px;
    padding: 10px;
}
p, h1 {
    padding: 0;
    margin: 0;
}
#auth-but {
    grid-column: 2;
}
#menu-block-1 {
    grid-column: 1;
    grid-row: 1;
}
#menu-block-1 {
    grid-column: 2;
    grid-row: 1;
}
